body {
  margin: 0;
}
canvas {
  display: block;
  margin: .5em auto;
}
button {
  display: block;
  margin: auto;
  width: 16em;
  height: 2em;
}
input {
  display: block;
  margin: auto;
  width: 16em;
  height: 2em;
}

